.alert {
    background: $ltp-red;
    color: $ltp-white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    p {
        padding: .5rem;
        font-size: .75rem;
        line-height: 1.25rem;
    }
    &.floating {
        position: relative;
        bottom: unset;
        border-radius: $ltp-border-radius;
    }
}

/* the offline alert has some special logic to make it appear when network loss was detected */

.alert-offline {
    display: none;
}
.offline .alert-offline {
    display: block;
}
