.alert {
    background: $ltp-red;
    color: $ltp-white;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 5rem;
    min-height: 2rem;
    p {
        margin: 0;
        padding: .5rem;
        font-size: .75rem;
        line-height: 1.25rem;
    }
    &.floating {
        position: relative;
        bottom: unset;
        border-radius: $ltp-border-radius;
        width: 60%;
        min-height: unset;
        display: block;
        padding: .5rem;
        &.alert-error {
            display: none;
            margin: .5rem;
            &.active {
                display: block;
            }
        }
    }
}



// the offline alert has some special logic to make it appear when network loss was detected
.alert-offline {
    display: none;
}
.offline .alert-offline {
    display: block;
}
