* {
    font-family: $main-font-sans-serif;
}
html {
    color: $ltp-black;
    font-size: 16px;
    line-height: 1.5rem;
    width: 100%;
}
body {
    background: $ltp-beige;
    padding: 0;
    margin: 0;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $main-font-serif;
    color: $ltp-orange;
    padding: 0;
    margin: .75rem 0;
}
h4, h5, h6 {
    color: #333;
    margin: .5rem 0;
}
header {
    background: $ltp-white;
    height: 3rem;
    img {
        max-width: 50px;
        margin-left: .75rem;
    }
}
main {
    padding: .5rem;
}
ul, li {
}
p {
    padding: 0;
    margin: 0 0 2rem 0;
}

// todo: move to app.scss
#app {
    overflow: hidden;
    max-width: 980px;
}
