.nav-items {
    width: 100%;
    min-width: 320px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
.nav-items .nav-item {
    display: inline-block;
    position: relative;
    height: 3rem;
    line-height: 3rem;
    vertical-align: middle;
    margin: 0 .5rem;
}
.nav-item__link {
    text-decoration: none;
}
.nav-item-link__text {
    font-size: 1.4em;
    color: #90c2dd;
    line-height: 3rem;
    font-family: "museo",sans-serif;
    font-weight: 700;
}
.nav-items .nav-item__brand {
    padding: 0;
    width: 50px;
    background: url('../assets/image/logo-ltp-rgb.svg') no-repeat 50% 50%;
    background-size: 100%;
    margin: 0 1rem 0;
}
