
/* colours */

$ltp-orange: #ef7c00;
$ltp-beige: #D6D3CF;
$ltp-black: #333;
$ltp-red: #ff0000;
$ltp-white: #fff;
$ltp-blue: #90c2dd;
$ltp-ghosted-text: #eee;

/* fonts */

$main-font-sans-serif: "museo-sans", sans-serif;
$main-font-serif: "museo", Georgia;

/* misc */

$ltp-border-radius: 5px;
